@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Manrope:wght@200..800&family=Pinyon+Script&family=Stack+Sans+Notch:wght@200..700&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:wght@100..900&display=swap');


#root {
  font-family: 'Vend Sans', sans-serif;
  color:#1B1A18;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: #F9F8F5;
}

.home-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* Animated font for home header */
.home-heading h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  color: #1B1A18;
  align-items: center;
}

.change-font {
  font-size: 120px;
  color: #1B1A18;
  animation-name: fontChange;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes fontChange {
  0% {
    font-family: 'Vend Sans', sans-serif;
  }
  25% {
     font-family: 'Stack Sans Notch', sans-serif;
  }
  50% {
    font-family: 'Crimson Pro', serif;
  }
  75% {
    font-family: 'Manrope', sans-serif;
  }
  100% {
        font-family: 'Pinyon Script', cursive;
  }
}

.home-subheading h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.explore-button {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
  font-family: 'Vend Sans', sans-serif;
  color: #BE2C0F;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0.5em 2em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 500ms;
  margin-top: 8rem;
}
button:hover {
    background-color: #BE2C0F;
    color: #F9F8F5;
}

.gg-arrow-top-right {
   --ggs: 2.4; 
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-right: 2px solid;
  margin-top: -1.5px;
  margin-left: 1rem;
  vertical-align: text-top;
   transition: transform 0.25s ease;
}
.gg-arrow-top-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 14px;
  height: 2px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 3px;
  right: -3px;
}

.explore-button .gg-arrow-top-right {
  display: inline-block;
  margin-left: 0.35rem;
  vertical-align: text-top;
  position: relative;
}
